:root {
  --web-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");
  --web-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
  --web-code-copy-code-border-color: #eee;
  --web-code-copy-code-bg: white;
  --web-code-lang-color: var(var(--web-color-primary));
  --web-code-copy-code-hover-bg: #f8fafc;
  --web-code-copy-code-hover-border-color: #eee;
  --web-code-copy-code-active-text: rgba(128,128,128,1);
  --web-code-copy-copied-text-content: "已复制";

  --web-code-tab-bg: #fafafa;
  --web-code-tab-active-bar-color: #4B58DE;
  --web-code-tab-divider: #e5e5e5;
  --web-code-tab-text-color: rgba(128,128,128,1);
  --web-code-tab-hover-text-color: black;
  --web-code-tab-active-text-color: black;
}

html.dark {
  --web-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");
  --web-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
  --web-code-copy-code-border-color: #030616;
  --web-code-copy-code-bg: #030616;
  --web-code-lang-color: var(var(--web-color-primary));
  --web-code-copy-code-hover-bg: #030616;
  --web-code-copy-code-hover-border-color: #333;
  --web-code-copy-code-active-text: rgba(128,128,128,1);
  --web-code-copy-copied-text-content: "已复制";

  --web-code-tab-bg: #0a0a0a;
  --web-code-tab-active-bar-color: #4B58DE;
  --web-code-tab-divider: #171717;
  --web-code-tab-text-color: rgba(128,128,128,1);
  --web-code-tab-hover-text-color: white;
  --web-code-tab-active-text-color: white;
}

.prose div[class*=language-] {
  position: relative;
}

.prose [class*=language-]>button.copy.copied:before,
.prose [class*=language-]>button.copy:hover.copied:before {
  position: relative;
  top: -1px;
  transform: translate(calc(-100% - 1px));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--web-code-copy-code-hover-border-color);
  border-right: 0;
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
  width: fit-content;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--web-code-copy-code-active-text);
  background-color: var(--web-code-copy-code-hover-bg);
  white-space: nowrap;
  content: var(--web-code-copy-copied-text-content);
}

.prose [class*=language-]:hover>button.copy {
  opacity: 1;
}

.prose [class*=language-]>button.copy.copied,
.prose [class*=language-]>button.copy:hover.copied {
  border-radius: 0 4px 4px 0;
  background-color: var(--web-code-copy-code-hover-bg);
  background-image: var(--web-icon-copied);
}

.prose [class*=language-]>button.copy:hover,
.prose [class*=language-]>button.copy.copied {
  border-color: var(--web-code-copy-code-hover-border-color);
  background-color: var(--web-code-copy-code-hover-bg);
}

.prose [class*=language-]>button.copy {
  direction: ltr;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
  border: 1px solid var(--web-code-copy-code-border-color);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--web-code-copy-code-bg);
  opacity: 0;
  cursor: pointer;
  background-image: var(--web-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.prose [class*=language-]:hover>span.lang {
  opacity: 0;
}

.prose [class*=language-]>span.lang {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: var(--web-code-lang-color);
}


.vp-code-group {
  margin-top: 16px
}

.vp-code-group .tabs {
  position: relative;
  display: flex;
  margin-right: -24px;
  margin-left: -24px;
  padding: 0 12px;
  background-color: var(--web-code-tab-bg);
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: inset 0 -1px var(--web-code-tab-divider),
              inset 0 1px var(--web-code-tab-divider),
              inset 1px 0 var(--web-code-tab-divider),
              inset -1px 0 var(--web-code-tab-divider);
}

.vp-code-group pre {
  margin-top: .25em;
  margin-bottom: 0;
}

@media (min-width: 640px) {
  .vp-code-group .tabs {
      margin-right:0;
      margin-left: 0;
      border-radius: 8px 8px 0 0
  }
}

.vp-code-group .tabs input {
  position: fixed;
  opacity: 0;
  pointer-events: none
}

.vp-code-group .tabs label {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding: 0 12px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  color: var(--web-code-tab-text-color);
  white-space: nowrap;
  cursor: pointer;
  transition: color .25s
}

.vp-code-group .tabs label:after {
  position: absolute;
  right: 8px;
  bottom: -1px;
  left: 8px;
  z-index: 1;
  height: 2px;
  border-radius: 2px;
  content: "";
  background-color: transparent;
  transition: background-color .25s;
}

.vp-code-group label:hover {
  color: var(--web-code-tab-hover-text-color);
}

.vp-code-group input:checked+label {
  color: var(--web-code-tab-active-text-color);
}

.vp-code-group input:checked+label:after {
  background-color: var(--web-code-tab-active-bar-color);
}

.vp-code-group div[class*=language-],.vp-block {
  display: none;
  margin-top: 0!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important
}

.vp-code-group div[class*=language-].active,.vp-block.active {
  display: block
}