@font-face {
  font-family: '阿里巴巴普惠体 3.0 Regular';
  src: url(./fonts/AlibabaPuHuiTi-3-55-Regular.ttf);
}

@font-face {
  font-family: '阿里巴巴普惠体 3.0 Medium';
  src: url(./fonts/AlibabaPuHuiTi-3-65-Medium.ttf);
}

@font-face {
  font-family: '阿里巴巴普惠体 3.0 SemiBold';
  src: url(./fonts/AlibabaPuHuiTi-3-75-SemiBold.ttf);
}

@font-face {
  font-family: '阿里巴巴普惠体 3.0 Bold';
  src: url(./fonts/AlibabaPuHuiTi-3-85-Bold.ttf);
}
