@media (prefers-color-scheme: light) {
  .shiki,
  .shiki span {
    color: var(--shiki-light);
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);
    text-decoration: var(--shiki-light-text-decoration);
  }

  .shiki {
    background-color: var(--tw-prose-pre-bg);
  }
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }

  .shiki {
    background-color: var(--tw-prose-pre-bg);
  }
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
  text-underline-offset: 6px;
}

html.dark .shiki {
  background-color: var(--tw-prose-pre-bg);
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

.shiki {
  background-color: var(--tw-prose-pre-bg);
}