* {
  box-sizing: border-box;
  transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1),
              background .4s cubic-bezier(0.075, 0.82, 0.165, 1),
              padding .4s cubic-bezier(0.075, 0.82, 0.165, 1),
              border .4s cubic-bezier(0.075, 0.82, 0.165, 1),
              filter .4s cubic-bezier(0.075, 0.82, 0.165, 1),
              color .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

html,body {
  width: 100%;
}

html {
  scroll-timeline: --page-scroll block;
}

body {
  margin: 0;
}
