@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    border-color: rgb(var(--web-border-color) / 1);
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--web-border-color) / 0.8) transparent;
  }

  *::selection {
    background-color: #981616;
    color: #fafafa;
  }

  html,
  body {
    width: 100%;
  }

  html {
    scroll-timeline: --page-scroll block;
    background-color: var(--web-bg);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  body {
    margin: 0;
  }
}
