/* https://tailwindcss.com/docs/theme */
@theme {
  /* 主题色 */
  --color-primary-light: rgb(71 89 230);
  --color-primary-dark: rgb(246 202 96);
}

:root {
  --web-header-height: 4rem;
}

[data-theme="light"] {
  --web-bg: #fafafa;
  --web-content-bg: #fff;
  --web-color-main: 51 65 85;
  --web-color-base: 0 0 0;
  --web-color-primary: var(--color-primary-light);
  --web-color-reverse: 255 255 255;
  --web-border-color: 229 229 229;
  --docsearch-searchbox-background: #fff;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-text-color: rgb(var(--web-color-base) / 0.8);
}

[data-theme="dark"] {
  --web-bg: #0a0a0a;
  --web-content-bg: #171717;
  --web-color-main: 23 23 23;
  --web-color-base: 255 255 255;
  --web-color-primary: var(--color-primary-dark);
  --web-color-reverse: 0 0 0;
  --web-border-color: 64 64 64;
  --docsearch-searchbox-background: #171717;
}
