:root {
  --web-header-height: 4rem;
}

[data-theme='light'] {
  --color-primary: var(--color-primary-light);
  --color-muted: var(--color-muted-light);
  --color-line: var(--color-line-light);
  --web-content-bg: #fff;
  --web-color-base: 34 31 32;
  --web-color-reverse: 255 255 255;
  --web-border-color: 229 229 229;
  --docsearch-searchbox-background: #fff;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-text-color: rgb(var(--web-color-base) / 0.8);
}

[data-theme='dark'] {
  --color-primary: var(--color-primary-dark);
  --color-muted: var(--color-muted-dark);
  --color-line: var(--color-line-dark);
  --web-content-bg: #171717;
  --web-color-base: 255 255 255;
  --web-color-reverse: 0 0 0;
  --web-border-color: 64 64 64;
  --docsearch-searchbox-background: #171717;

  color: #fff;
}
