{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./docs/.vitepress/theme/styles/tailwind.css",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "printWidth": 150
}