.gh-header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  height: 46px;
  overflow: hidden;
  top: 0;
}

.gh-title {
  font-size: 1.5rem;
  margin: 0;
}
