.gh-post {
  display: flex;
  column-gap: .75rem;
  padding: .25rem;
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 13px 15px rgb(31 45 61 / 15%);
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.gh-post + .gh-post {
  margin-top: .75rem;
}

.gh-post__thumbnail {
  flex-shrink: 0;
  width: 33.333333333333%;
}

.gh-post__thumbnail > img {
  width: 100%;
  margin-bottom: -3px;
  object-fit: cover;
}

.gh-post__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gh-post__content .title {
  margin: 0;
  color: #475669;
  font-size: 1rem;
  font-weight: normal;
}

.gh-post__content .desc {
  margin: 0;
  font-size: .825rem;
  color: #29405d;
}

.gh-post__content > .meta {
  margin: 0;
  padding: 0;
  color: #65818f;
  list-style: none;
}